.header,
.footer {
  padding: 20px 0;
  text-align: center;
  background: #FCC;
}
.header__inner {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  flex-basis: 10%;
}
.header__nav-container {
  flex-basis: 80%;
}
.header__nav-list {
  display: flex;
  justify-content: space-around;
}
.content {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
.content__title {
  margin: 0 0 20px;
  padding: 0 0 10px;
  border-bottom: 1px solid;
}
.content__detail {
  padding: 20px;
}
.widget {
  padding: 20px 0;
}